<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Integrante</title>
</head>
<body>
    <h1>Integrantes</h1>
    <h2>Crear</h2>
    <section>
        <p>{{mensaje}}</p>
    </section>
    <section>
        <form action="/admin/integrantes/create" method="post">
            <fieldset>
                <legend>Integrante</legend>
                <label for="matricula">Matricula</label>
                <input id="matricula" name="matricula" type="text">

                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text" >

                <label for="apellido">Apellido</label>
                <input id="apellido" name="apellido" type="text">

                <label for="borralog">Estado</label>
                <select id="borralog" name="borralog">
                <option value="FALSE">Activo</option>
                <option value="TRUE">Inactivo</option> 


            </fieldset>
            <input type="submit" value="Crear">
    
        </form>
    </section>
    <a href="/admin/integrantes/listar">Volver al Listado</a>
</body>
</html>