<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Integrantes</title>
</head>
<body>
    <h1>Integrantes</h1>
    <h2>Listado</h2>
    <section>
        <table>
            <tr>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Estado</th>
                <th>Orden</th>
            </tr>
            {{#each integrantes}}
                <tr>
                    <td>{{matricula}}</td>
                    <td>{{nombre}}</td>
                    <td>{{apellido}}</td>
                    <td> 
                        {{#if borralog}}
                            ACTIVO
                        {{else}}
                            INACTIVO
                        {{/if}}
                    </td>
                    <td>{{orden}}</td>
                </tr>
            {{/each}}
        </table>  
    </section>
    <a href="/admin">Volver</a>
    <a href="/admin/integrantes/crear">Crear Nuevo</a>
</body>
</html>