<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Creación</title>
</head>
<body>
    <h1>Crear Nuevo</h1>
    <h2>Media</h2>
    <section>
        <p>{{mensaje}}</p>
    </section>    
    <form action="/admin/media/create" method="post" enctype="multipart/form-data" id="mediaForm">
    <fieldset>
        <legend>Media</legend>

        <label for="nombre">Tipo de Medio:</label>
        <select id="nombre" name="nombre" onchange="showFields()">
            <option value="Youtube">Youtube</option>
            <option value="Dibujo">Dibujo</option>
            <option value="Imagen">Imagen</option>
        </select>

        <!-- Campos para agregar un archivo -->
        <div id="archivo" style="display: none;">
            <label for="archivo">Seleccionar Archivo:</label>
            <input id="archivo" name="archivo" type="file">
        </div>

        <!-- Campos para agregar texto -->
        <div id="textoFields" style="display: none;">
            <label for="texto">Texto:</label>
            <textarea id="texto" name="texto"></textarea>
        </div>

        <label for="titulo">TITULO</label>
        <input id="titulo" name="titulo" type="text">

        <label for="matricula">MATRICULA</label>
        <input id="matricula" name="matricula" type="text">

        <label for="borralog">Estado</label>
        <select id="borralog" name="borralog">
            <option value="FALSE">Activo</option>
            <option value="TRUE">Inactivo</option> 
        </select>
    </fieldset>
    <input type="submit" value="Crear">
</form>
<!--funcion para renderizar file si es imagen y text si es Youtube-->
<script>
    function showFields() {
        var selectedOption = document.getElementById("nombre").value;
        var archivoFields = document.getElementById("archivo");
        var textoFields = document.getElementById("textoFields");

        if (selectedOption === "Youtube") {
            archivoFields.style.display = "none";
            textoFields.style.display = "block";
        } else {
            archivoFields.style.display = "block";
            textoFields.style.display = "none";
        }
    }
</script>

    <a href="/admin/media/listar">Volver al listado</a>
    
</body>
</html>