<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Media</title>
</head>
<body>
    <h1>Listar media</h1>
    <section>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>URL</th>
                <th>Titulo</th>
                <th>Matricula</th>
                <th>Estado</th>
                <th>Orden</th>
            </tr>
            {{#each media}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{nombre}}</td>
                    <td>{{url}}</td>
                    <td>{{titulo}}</td>
                    <td>{{matricula}}</td>
                    <td> 
                        {{#if borralog}}
                            ACTIVO
                        {{else}}
                            INACTIVO
                        {{/if}}
                    <td>{{orden}}</td>
                </tr>
            {{/each}}
        </table>  
    </section>
    <a href="/admin">Volver</a>
    <a href="/admin/media/crear">Crear Nuevo</a>
    
</body>
</html>