

 <nav class="navbar">
  <ul>
    <li><a href="/">Inicio</a></li>
    {{#each integrantes}}
    <li><a href="/paginas/integrantes/{{matricula}}/">{{nombre}}</a></li>
    {{/each}}
    <li><a href="/paginas/curso.html">Curso</a></li>
    <li><a href="/paginas/word_cloud.html">Word Cloud</a></li>
    <li><a href="/admin">Admin</a></li>
  </ul>
</nav>