<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Tipo Media</title>
</head>
<body>
    <h1>Crear nuevo</h1>
    <h2>Tipo - Media</h2>
    <section>
        <p>{{mensaje}}</p>
    </section>
    <form action="/admin/tipo_media/create" method="post">
    <fieldset>
        <legend>Tipo Media</legend>

        <label for="nombre">Nombre</label>
        <input id="nombre" name="nombre" type="text" >

        <label for="borralog">Estado</label>
        <select id="borralog" name="borralog">
        <option value="FALSE">Activo</option>
        <option value="TRUE">Inactivo</option> 
    </fieldset>
    <input type="submit" value="Crear">
    </form>
    <a href="/admin/tipo_media/listar">Volver al listado</a>
    
</body>
</html>