<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Tipo Media</title>
</head>
<body>
    <section>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Orden</th>
                
            </tr>
            {{#each tipomedia}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{nombre}}</td>
                    <td> 
                        {{#if borralog}}
                            ACTIVO
                        {{else}}
                            INACTIVO
                        {{/if}}
                    <td>{{orden}}</td>
                </tr>
            {{/each}}
        </table>  
    </section>
    <a href="/admin">volver</a>
    <a href="/admin/tipo_media/crear">Crear Nuevo</a>
</body>
</html>